<launch>

    <node
        name="system_monitor"
        pkg="mrta_main"
        type="system_monitor.py"
        output="screen"
        launch-prefix ="xterm -hold -e"
        >
    </node>

    <arg name="scenario" />
    <node
        name="task_list_pub" 
        pkg="mrta_main" 
        type="task_list_pub.py" 
        output="screen"
        launch-prefix ="xterm -hold -e"
        >
        <param name="scenario_name" value ="$(arg scenario)" />
    </node>

</launch>